{# This file is a template to generate a trello card's description #}

# {{ data.issue.title }}

## Why is this important?

{{ data.issue.importance }}

> contact [{{ data.personal.email }}](mailto:{{ data.personal.email }})
